.issue {
  cursor: pointer;
  border-top: 1px #daacd7 solid;
  background-color: #f0dfef;
  padding: 5px;
  z-index: 1;
  position: relative;
  /*The z-index attribute can only be used on positioned elements (absolute, relative or fixed).*/
}

.issue_text {
  padding: 5px;
}
