.logoutBtn {
  justify-self: right;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: white;
  border: 1px solid #ee6c4d;
  color: #ee6c4d;
  font-weight: 600;
  padding: 5px 8px;
  display: flex;
  align-items: center;
}

.logoutBtn:hover,
.logoutBtn:focus {
  color: white;
  background-color: #ee6c4d;
}

.requestStatus {
  justify-self: center;
}
